@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
font-family: 'Nunito', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}

li {
	color: #000000;
  }
  /* This changes the style of the Nav bar  */
  .navbar {
	font-size: 18px;
	padding-bottom: 10px;
  }
  /* This changes the strucutre of the Nav bar  */
  .nav {
	list-style-type: none;
	display: none;
  }
  /* This changes the links inside the Nav bar  */
  .nav-links, .logo {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }
  /* Changes the Li inside the nav tag  */
  .nav li {
	text-align: center;
	margin: 15px auto;
  }
  /* Changes the style of the logo */
  .logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
	color: #000000;
  }
  /* Changes what the Nav bar does once it has been pressed */
  .navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	font-size: 24px;
  }
  /* Changes the colour of the hover of the toggled nav bar  */
  .navbar-toggle:hover{
	color: rgb(73, 73, 73);
	transition: all 0.3s ease 0s;
  }
  /* Change what the nav bar looks like once in mobile */
  .active {
	display: block;
  }
  /* This changes the nav bar once is goes past the px limit */
  @media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}
  
	.nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}
  
	.nav li {
		margin: 0;
	}
  
	.nav-links {
		margin-left: 40px;
	}
  
	.logo {
		margin-top: 0;
	}
  
	.navbar-toggle {
		display: none;
	}
  
	.logo:hover, .nav-links:hover {
		color: rgb(73, 73, 73);
		transition: all 0.3s ease 0s;
	}
  }
  img{
	object-fit: cover;
  }
  .background{
	background-color: #3d3d3d;
	opacity: 0.7;
  }
  .centre1{
	position: absolute;
	top: 40%;
	left: 400px;
	/* transform: translate(-50%, -50%); */
	color: #ffffff;
  }
