@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
font-family: 'Nunito', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}

li {
	color: #000000;
	text-decoration: none;
  }
  /* This changes the style of the Nav bar  */
  .navbar {
	font-size: 18px;
	padding-bottom: 10px;
  }
  /* This changes the strucutre of the Nav bar  */
  .nav {
	list-style-type: none;
	display: none;
  }
  /* This changes the links inside the Nav bar  */
  .nav-links, .logo {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }
  /* Changes the Li inside the nav tag  */
  .nav li {
	text-align: center;
	margin: 15px auto;
  }
  /* Changes the style of the logo */
  .logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
	color: #000000;
  }
  /* Changes what the Nav bar does once it has been pressed */
  .navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	font-size: 24px;
  }
  /* Changes the colour of the hover of the toggled nav bar  */
  .navbar-toggle:hover{
	color: rgb(73, 73, 73);
	transition: all 0.3s ease 0s;
  }
  /* Change what the nav bar looks like once in mobile */
  .active {
	display: block;
  }
  /* This changes the nav bar once is goes past the px limit */
  @media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}
  
	.nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}
  
	.nav li {
		margin: 0;
	}
  
	.nav-links {
		margin-left: 40px;
	}
  
	.logo {
		margin-top: 0;
	}
  
	.navbar-toggle {
		display: none;
	}
  
	.logo:hover, .nav-links:hover {
		color: rgb(73, 73, 73);
		transition: all 0.3s ease 0s;
	}
  }
  img{
	object-fit: cover;
  }
  .background{
	opacity: 0.8;
	position: relative;
	display: inline-block; /* Make the width of box same as image */
	width: 100% ;
  }

  .background .text {
	position: absolute;
	top: 30%; /* Adjust this value to move the positioned div up and down */
	text-align: center;
	width: 50%;
	color: white;
}

.parent {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(5, 5fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	}
	
	.div1 { 
		grid-area: 1 / 1 / 2 / 3; 
		padding: 30px;
	}
	.div1 h2{
		padding-bottom: 10px;
		font-size: 30px;
	}

	.div2 { 
		grid-area: 2 / 1 / 4 / 2; 
		padding: 30px;
		font-size: 20px;
	}
	.div2 p{
		padding: 10px;
	}
	.div2 i{
		padding-right: 10px;
	}
	.div3 { 
		grid-area: 2 / 2 / 4 / 4; 
	}
	.div3 img{
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.div4 { 
		grid-area: 4 / 1 / 6 / 3; 
	}