@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
* {
font-family: 'Nunito', sans-serif;
}
h1 {
	color: #17B890;
	font-size: 50px;
}

.title{
	text-align: center;
}

img {
	border-radius: 15px;
}

.sideNav{
	height: 100%;
	width: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #17B890;
	overflow-x: hidden;
	padding-top: 20px;
}

.sideNav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	align-items: center;
}

.sideNav a:hover{
	color: #30fcc9;
}

.main{
	margin-left: 80px;
	padding: 0px 10px;
}

.text-background{
	background-color: #17B890;
	color: #ffffff;
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
}
