@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
font-family: 'Nunito', sans-serif;
box-sizing: border-box;
}

h1 {
	color: #17B890;
	font-size: 50px;
}

img {
	overflow: hidden;
	object-fit: cover;
}

.title{
	text-align: center;
}

.sideNav{
	height: 100%;
	width: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #17B890;
	overflow-x: hidden;
	padding-top: 20px;
}

.sideNav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	align-items: center;
}

.sideNav a:hover{
	color: #30fcc9;
}

.main{
	margin-left: 80px;
	padding: 0px 10px;
}

.text-background{
	background-color: #17B890;
	color: #ffffff;
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 15px;
}

.text-background p {
	font-size: 20px;
}

/* This is for the cards in the middle */

/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }
  
  /* Style the counter cards */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	background-color: #f1f1f1;
	height: 100%;
  }

  .card p {
	  padding-bottom: 16px;
  }

  .card img {
	  border-bottom-left-radius: 10px;  
	  border-bottom-right-radius: 10px;
	}
